//ベースカラー
$font-color--base: #1b2538;
$font-baseColor--LG: #e1eef6;
$font-baseColor--accent: #ff5f2e;
$font-baseColor--catch: #fcbe32;
$font-baseColor--base: #004e66;

$background-color--base: #f5f5f5;

//ヘッダー
$burger-menu-background: #A9A9A9;
$burger-nav-background: $font-baseColor--base;
$burger-link-color: $font-baseColor--LG;
//フッター

//c-button
$button-color--background: #696969;
$button-color--base: #fff;

//フォーム関連
$form-error-message: $font-baseColor--accent;
$form-focus: $font-baseColor--accent;
$form-label: #A9A9A9;
$form-border--bottom: #1b2538;
